@keyframes logoEntry {
  from {
    transform: translate(1.5rem, -1.5rem);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.site-header {
  @include container();
  font-family: $secondary-font-family;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.site-header__inner {
  display: flex;
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
}

.site-header__logo {
  display: block;
  width: 1.5rem;
  position: relative;
  padding-bottom: 154%;
}

.site-header__logo-section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.site-header__logo-section--top {
  animation: logoEntry .2s .2s both cubic-bezier(.17,.67,.61,1.23);
}

.site-header__logo-section--bottom {
  animation: logoEntry .2s .4s both cubic-bezier(.17,.67,.61,1.23);
}

.site-header__nav {
  @include caps();
  display: flex;
  align-items: center;
  margin-left: auto;

  > ul {
    @include delist();
  }
}

.site-header__nav-item {
  display: inline-block;
  margin-left: 1rem;
  padding: 0.2rem 0;

  > a {
    text-decoration: none;
    color: #fff;
  }
}

.site-header__nav-item--active {
  border-bottom: 2px solid #fff;
}
