<section class="banner">
  <div class="banner__inner">
    <div class="banner__content">
      <h2 class="banner__title"><%= title %></h2>
      <p class="banner__copy"><%= content %></p>
      <%= link_to linkText, link %>
    </div>
  </div>
</section>